---

# - name: Execute shell script on dev server with user dm-vramiset
#   shell: sudo initctl stop skynet
#
# - name: Execute shell script on dev server with user dm-vramiset
#   shell: ps -aux | grep skynet


# - name: Execute sudo command
#   # sudo: yes
#   become: yes
#   # become_method: sudo
#   become_user: dm-vramiset
#   shell: /sbin/initctl stop skynet

# - name: Ensure the httpd service is running
#   sudo: yes
#   become: yes
#   shell: initctl stop skynet
#   owner: root

# - name: test sudo
#   shell: sudo initctl stop skynet
#   become_user: dm-vramiset
#   ansible_become: yes  # use sudo
#   ansible_become_method: sudo
#   ansible_become_pass: '{{ ansible_pass }}'

- name: sudo test
  command: /sbin/initctl stop skynet
  become: true
  become_user: dm-vramiset
  become_method: su



# - name: Run a command as the apache user
#   command: /sbin/initctl stop skynet
#   become: true
#   become_user: dm-vramiset

# - name: Copy file to dev server based on hostname
#   become: yes
#   become_user: wngapp
#   copy:
#     src:  "{{ item }}"
#     dest: /tmp/testpreprod/
#     mode: 0755
#   with_fileglob:
#     - documentation/preprodconfigs/led01506/*
#   when: inventory_hostname == "led01506"

# - name: Copy file to dev server based on hostname2
#   become: yes
#   become_user: wngapp
#   copy:
#     src:  "{{ item }}"
#     dest: /tmp/testpreprod/
#     mode: 0755
#   with_fileglob:
#     - documentation/preprodconfigs/led01510/*
#   when: inventory_hostname == "led01510"



# - name: Execute shell script on dev server with user wngapp
#   become: yes
#   become_user: wngapp
#   shell: ps -aux | grep skynet
#
# - name: Copy file to dev server with user wngapp
#   become: yes
#   become_user: wngapp
#   copy:
#     src: ansible-script.sh
#     dest: /home/wngapp/ansible-script.sh
#     mode: 0755
#
# - name: Execute shell script on dev server with user wngapp
#   become: yes
#   become_user: wngapp
#   shell: sh /home/wngapp/ansible-script.sh {{VERSION}} {{BuildNumber}}
#   chmod: 0755
#   args:
#     chdir: /home/wngapp/
#
#
# - name: Start Skynet service
#   shell: sudo initctl start skynet
