---
- name: Execute shell script on dev server with user dm-vramiset
  become: yes
  become_user: wngapp
  shell:  ps -efaww | grep 'skynet' | grep -v grep | awk '{ print $2 }' | xargs kill -9

- name: Execute shell script on dev server with user dm-vramiset
  shell: ps -aux | grep skynet

- name: Copy file to dev server based on hostname
  become: yes
  become_user: wngapp
  copy:
    src:  "{{ item }}"
    dest: /tmp/testpreprod/
    mode: 0755
  with_fileglob:
    - documentation/preprodconfigs/led01506/*
  when: inventory_hostname == "led01506"


- name: Execute shell script on dev server with user wngapp
  become: yes
  become_user: wngapp
  shell: ps -aux | grep skynet

- name: Copy file to dev server with user wngapp
  become: yes
  become_user: wngapp
  copy:
    src: ansible-script.sh
    dest: /home/wngapp/ansible-script.sh
    mode: 0755

  # - name: Execute shell script on dev server with user wngapp
  # become: yes
  # become_user: wngapp
  # shell: sh /home/wngapp/ansible-script.sh {{VERSION}} {{BuildNumber}}
  # chmod: 0755
  # args:
  #   chdir: /home/wngapp/


  # - name: Start Skynet service
  #   shell: sudo initctl start skynet
