---
# - name: Execute shell script on dev server with user dm-vramiset
#   shell: sudo initctl stop skynet
#
# - name: Execute shell script on dev server with user dm-vramiset
#   shell: ps -aux | grep skynet

- name: Copy file to dev server with user wngapp
  copy:
    src: stop.sh
    dest: /home/dm-vramiset/stop.sh
    mode: 0755

- name: Execute shell script on dev server
  shell: sh /home/dm-vramiset/stop.sh  > /tmp/vasu/stop.log 
  chmod: 0755
  args:
    chdir: /home/dm-vramiset/

# - name: Copy file to dev server based on hostname
#   become: yes
#   become_user: wngapp
#   copy:
#     src:  "{{ item }}"
#     dest: /tmp/testpreprod/
#     mode: 0755
#   with_fileglob:
#     - documentation/preprodconfigs/led01506/*
#   when: inventory_hostname == "led01506"


# - name: Execute shell script on dev server with user wngapp
#   become: yes
#   become_user: wngapp
#   shell: ps -aux | grep skynet
#
# - name: Copy file to dev server with user wngapp
#   become: yes
#   become_user: wngapp
#   copy:
#     src: ansible-script.sh
#     dest: /home/wngapp/ansible-script.sh
#     mode: 0755
#
# - name: Execute shell script on dev server with user wngapp
#   become: yes
#   become_user: wngapp
#   shell: sh /home/wngapp/ansible-script.sh {{VERSION}} {{BuildNumber}}
#   chmod: 0755
#   args:
#     chdir: /home/wngapp/
#
#
# - name: Start Skynet service
#   shell: sudo initctl start skynet
