---
- copy:
   src: "{{item.src}}"
   dest: "{{item.dest}}"
   mode: 0744
  become: yes
  become_user: Vasudev
  with_items:
    - { src: ../../documentation/preprodconfigs/led01506/ , dest: /tmp/skynet-configfile/}
  when: inventory_hostname == "13.59.148.119"
