---
- copy:
   src: "{{item.src}}"
   dest: "{{item.dest}}"
   mode: 0744
  become: yes
  become_user: wngapp
  with_items:
    - { src: ../documentation/preprodconfigs/led01506/application-led01506.yml  , dest: /tmp/skynet-configfile/application-led01506.yml }
