---
 # - name: Stop skynet application with user Sudo privileges
 #   become: yes
 #   become_user: root
 #   command: /sbin/initctl stop skynet
 #   ignore_errors: yes
 #
#################################################################################################################################
# - name: Copy files to another server
#   copy:
#    src: "{{item.src}}"
#    dest: "{{item.dest}}"
#    mode: 0744
#   become: yes
#   become_user: Vasudev
#   with_items:
#     - { src: ../../documentation/preprodconfigs/led01506/ , dest: /tmp/skynet-configfile/}
#   when: inventory_hostname == "13.59.148.119"

#################################################################################################################################

 - name: Copy files to another server another method
   become: yes
   become_user: Vasudev
   copy:
    src: ../../documentation/preprodconfigs/led01506/
    dest: /tmp/skynet-configfile/
   when: inventory_hostname == "13.59.148.110"










# when: inventory_hostname == "13.59.148.119"




 # - name: Copy config files to prepod servers based on hostname
 #   become: yes
 #   become_user: wngapp
 #   copy:
 #     src:  "{{ item.src }}"
 #     dest: /tmp/skynet-configfile/
 #     mode: 0755
 #   with_items:
 #     - { src: ../../documentation/preprodconfigs/led01506/* }
 #   when: inventory_hostname == "led01506"
 #   register: scriptoutput
 #
 # - debug: var=scriptoutput.stdout_lines


#- import_tasks: copy.yml




 #
 # - name: Copy config files to prepod servers based on hostname
 #   become: yes
 #   become_user: wngapp
 #   copy:
 #     src:  "{{ item }}"
 #     dest: /tmp/skynet-configfile/
 #     mode: 0755
 #   with_fileglob:
 #     - documentation/preprodconfigs/led01510/*
 #   when: inventory_hostname == "led01510"
 #
 # - name: Copy deployment script file to prepod server with user wngapp
 #   become: yes
 #   become_user: wngapp
 #   copy:
 #     src: ansible-script.sh
 #     dest: /home/wngapp/ansible-script.sh
 #     mode: 0755
 #
 #
 # - name: Execute deployment script on prepod server with user wngapp
 #   become: yes
 #   become_user: wngapp
 #   shell: sh /home/wngapp/ansible-script.sh {{VERSION}} {{BuildNumber}} {{REPO}} {{BRANCHNAME}}> /tmp/vasu/test.log  2>&1
 #   chmod: 0755
 #   args:
 #     chdir: /home/wngapp/
 #   register: scriptoutput
 #
 # - name: Start skynet application with user Sudo privileges
 #   become: yes
 #   become_user: root
 #   command: /sbin/initctl start skynet
