<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <include resource="org/springframework/boot/logging/logback/base.xml"/>
   <jmxConfigurator/>
   <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
   <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

   <property name="LOG_DIRECTORY" value="logs"/>

   <appender name="FILEAPPEND" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>${LOG_DIRECTORY}/skynet.log</file>
      <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
         <Pattern>${FILE_LOG_PATTERN}</Pattern>
      </encoder>

      <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
         <fileNamePattern>
            ${LOG_DIRECTORY}/archived/skynet.%d{yyyy-MM-dd}.log
         </fileNamePattern>
      </rollingPolicy>
   </appender>
   <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
      <facility>LOCAL0</facility>
      <syslogHost>localhost</syslogHost>
      <port>514</port>
      <suffixPattern>Skynet %level [%thread] %logger{30}:%L %msg</suffixPattern>
      <filter class="ch.qos.logback.classic.filter.LevelFilter">
         <level>WARN</level>
         <onMatch>ACCEPT</onMatch>
         <onMismatch>DENY</onMismatch>
      </filter>
   </appender>

   <logger name="com.west" level="info" additivity="false">
      <appender-ref ref="FILEAPPEND"/>
   </logger>

   <root level="warn">
      <appender-ref ref="FILEAPPEND"/>
      <appender-ref ref="SYSLOG"/>
   </root>
</configuration>
